.update-container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.update-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

textarea {
  min-height: 200px;
  resize: vertical;
}

.update-btn {
  background: #4f46e5;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.update-btn:hover {
  background: #4338ca;
}

.image-section-wrapper {
  margin-top: 40px;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-card {
  position: relative;
}

.image-card img {
  width: 200px;   /* NORMAL SIZE */
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.image-card button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
